:root{
    --primary-color: #166088;
    --card-color: white;
    --card-shadow: #4F6D7A;
    --secondar-color: #C0D6DF;
    --gap-size: 1.5rem;
}


input, button, p, img, h3, ul{
    margin:0;
    padding:0;
    border: none;
    appearance: none;
    box-sizing: border-box;
}

*{
    font-family: 'Mukta', sans-serif;
}

ul{
    list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

li:hover{
    background-color: #4F6D7A80;
    border-radius: 10px;
}

li{
    font-size: 1.5rem;
}

h3, 
.user-name, 
.user-tag, 
.ann-title, 
button.functions,
.logo-name,
a,
.project-title{
    font-weight: bold;
}

.bottom-header .user-name{
    font-size: 1.5rem;
}

.page-container{
    display: grid;
    grid-template-columns: .5fr 3fr;
    height:100vh;
    grid-template-rows: 20% 1fr;
    background-color: #DBE9EE;
}

header{
    display: grid;
    grid-column: 2/-1;
    background-color: yellowgreen;
    grid-template-rows:1fr 1fr;
    padding:var(--gap-size);
    background-color: white;
    gap:20px;
    box-shadow: 0 4px 10px -2px var(--card-shadow);
}

.top-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:50px;
    align-items: center;
}

.bottom-header{
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.dash-functions{
    display: grid;
    grid-template-columns: repeat(3 ,minmax(100px, 9rem));
    align-items: center;
    justify-content: right;
    gap: 10px;
}


.functions{
    max-height: 50px;
    max-width: 9rem;
}

.functions:hover{
    transform: scale(.95);
}

.user{
    display: grid;
    align-items: center;
    grid-template-columns: .5fr 1fr;
    gap:10px;
}

.top-right{
    display:grid;
    grid-template-columns: 50px 200px;
    justify-items: center;
    justify-content: right;
    gap:5px;
}

.bottom-header .user{
    grid-template-columns: minmax(50px, 100px) minmax(10ch, 100px) 4fr;
}

img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    width:auto;
    height:auto;
}

.bottom-header .profile-pic{
    max-height:none;
    max-width: 100%;
    min-width:100% ;
}

.top-right .profile-pic{
    height:100%;
}


.profile-pic{
    background-color: greenyellow;
}




.greeting, .user-name{
    min-width:10ch;
}


button.functions{
    background-color: var(--primary-color);
    box-sizing: border-box;
    border: none;
    padding: .5rem 1rem;
    border-radius: 10px;
    color:white;
    font-size: 1rem;
}

form{
    display: flex;
    gap:20px;
}
label{
    display: grid;
    align-self: center;
    grid-template-columns: minmax(50px, 100px) 1fr;
    width:100%;
    justify-content: left;
}

input{
    width:100%;
    max-height: 40px;
    min-height:30px;
    border-radius: 10px;
    background-color: var(--secondar-color);
}

input:focus{
    outline:3px solid var(--primary-color);
}

.sidebar{
    grid-row: 1/-1;
    background-color: var(--primary-color);
    padding:1rem;

}

.sidebar-links{
    height:60%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.logo{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    column-gap: 20px;
    
}
.logo-name{
    font-size: 2rem;
    color: white;
    font-family: 'Kanit', sans-serif;}

li >img{
    max-height: 25px;
    max-width:25px;
    justify-self: center;
}

.nav-1{
    display: grid;
}

.nav-1 > li{
    display: grid;
    grid-template-columns: minmax(50px,1fr) 5fr;
    column-gap: 20px;
    align-items: center;
}

.nav-1 > li:nth-last-child(3){
    margin-top:50px;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--gap-size);
    gap: var(--gap-size);
    margin-top:30px;
}

.announce-group, .trend-group{
    grid-column: 2;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap:var(--gap-size);
    grid-template-columns: minmax(200px, 1fr);
}

.ann-card, .trend-card{
    display: grid;
    align-items: center;
    justify-items: center;
    padding:1rem;
    border-radius: 10px;
    background-color: var(--card-color);
    box-shadow: 0 4px 10px -2px var(--card-shadow);
}

.annoucement{
    border-bottom: 2px solid grey;
}

.annoucement:nth-child(3){
    border-bottom: none;
}


.ann-descr{
    margin-bottom: 10px;
}

.trend-group{
    grid-column: 2;
}

.trend-project{
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 25px 25px;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    width:100%;
}

.trend-group .profile-pic{
    grid-row:1/-1;
    width:100%;
    justify-self: center;

}

.project-pins{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(auto-fit, 200px);
    grid-row:span 2;
    gap:var(--gap-size);
    
}

h3{
    font-size:1.5rem;
    align-self: end;
}
.project-pins h3{
    grid-column: 1/span 2;
}

.project-card{
    display:grid;
    grid-template-rows: .5fr 1fr .5fr;
    border-radius: 10px;
    padding:1rem;
    background-color: var(--card-color);
    box-shadow: 0 4px 10px -2px var(--card-shadow);
    
}

.project-functions{
    align-self: end;
    justify-self: right;
}

.project-pins .project-title {
    font-size: 1.25rem;
}

.project-card:nth-of-type(2n){
    border-left:10px solid green; 
}

.project-card:nth-of-type(3){
    border-left:10px solid green; 
}


.project-card:nth-of-type(1){
    border-left:10px solid red; 
}

.project-card:nth-of-type(5){
    border-left:10px solid orange; 
}

.project-functions button{
    width:25px;
    height:25px;
}

.project-functions button:hover{
    transform: scale(.8); 
    cursor: pointer;
}

.project-functions button.fav{
    background: url(images/star-outline.svg) no-repeat; 
}

.project-functions button.watch{
    background: url(images/eye-outline.svg) no-repeat;
}

.project-functions button.share{
    background: url(images/share-variant.svg) no-repeat;
}